html {
  color-scheme: dark;
  scrollbar-color: #686868 #424242;
}

body {
  color: #fff;
}

.navbar {
  transition: 300ms ease-in-out;
}

.nav-links {
  /* margin: 2px auto; */
}

.search-bar {
  width: 20rem;
}

.navBtnContainer {
  margin: 0 0 0 auto;
}

.navBtn {
  justify-content: left;
  align-items: flex-end;
  float: left;
  margin: 0 0 0 auto;
}

/* section {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 800px;
}

.swiper * {
  user-select: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(45, 55, 78);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.dropdownContainer {
  z-index: 100000;
}

*:focus {
  outline: 0 !important;
}

button {
  outline: none;
}

button:focus {
  outline: 0;
}

.side-img {
  height: 300px !important;
  width: 300px !important;
  /* margin-top: 10px; */
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* .sticky {
  position: sticky;
} */

.fixed {
  position: fixed;
}

.navbar.sticky {
  /* padding-top: 15px;
  padding-bottom: 15px; */
  /* padding: 0 0; */
  /* background: #111827; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#navMenu {
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  /* overflow-x: hidden;
  overflow-y: hidden; */
  overflow: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  /* top: 25%; */
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* transition: 0.1s; */
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.fw {
  width: 100%;
}

.nw {
  width: 0%;
}

.fh {
  height: 100%;
}

.nh {
  height: 0%;
}
